<footer id="footer">
				<div class="inner">

					

					<ul class="icons">
						<li><a href="https://twitter.com/Josthin_Ayon" class="icon round fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
						<li><a href="https://github.com/JosthinAyonC" class="icon round fa-github" target="_blank"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.linkedin.com/in/josthin-ayon-castillo-39a4611b3/" class="icon round fa-linkedin" target="_blank"><span class="label">Instagram</span></a></li>
					</ul>

					<div class="copyright">
						&copy; Pagina personalizada por: Josthin Ayon, plantilla utilizada de <a href="https://templateroad.com" target="_blank">Templeate road.</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

</body>
</html>