{{> head }}
{{> navbar }}

<section id="post" class="wrapper bg-img" data-bg="banner2.jpg">
				<div class="inner">
					<article class="box">
						<header>
							<h2>Mas acerca de mi!</h2>
							<p></p>
						</header>
						<div class="content">
							<p>¡Hola! Soy un estudiante de 7mo semestre en la Universidad de Guayaquil y estoy estudiando ingeniería en software. Me encanta aprender y programar es una de mis pasiones. Además, me gusta pasar mi tiempo libre jugando videojuegos en línea, especialmente Valorant, y también comparto muchos otros juegos con mi grupo de amigos en Discord. Me llevo muy bien con mis hermanos y valoro mucho todo lo que tengo, especialmente lo que mi mamá ha hecho por mí.</p>

							<p>Continuando con mi descripción, debo decir que me encanta explorar nuevas tecnologías y desafiar mis habilidades en programación. Siempre estoy buscando nuevas formas de mejorar mis habilidades y conocimientos en mi campo de estudio. Además, me gusta trabajar en equipo y colaborar con otros programadores para abordar problemas complejos.</p>

							<p>También debo mencionar que soy una persona muy agradecida. Todo lo que tengo y todo lo que he logrado en la vida, se lo debo en gran parte a mi madre. Ella siempre ha sido un gran apoyo para mí y estoy muy agradecido por todo lo que ha hecho por mí. También me llevo muy bien con mis hermanos y disfruto pasar tiempo con ellos cuando podemos.</p>

						</div>
						<footer>
							<ul class="actions">
								<li><a href="/" class="button alt icon fa-chevron-left" title="Volver"><span class="label" >Previous</span></a></li>
							</ul>
						</footer>
					</article>
				</div>
			</section>

{{> footer }}