{{>head}}
{{>navbar}}
<section id="post" class="wrapper bg-img">
<div class="inner">
<article class="box">
    <div class="content">
        <p>Hola me gustaria presentar mi curriculo</p>
    </div>
</article>
</div>
</section>


{{>footer}}

