{{> head }}



{{> navbar }}



<section id="banner" class="bg-img" data-bg="banner.jpg">
	<div class="inner">
		<header>
			<h1>Mi primera pagina web</h1>
		</header>
	</div>
	<a href="#one" class="more">Learn More</a>
</section>

<!-- One -->
<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
	<div class="inner">
		<article class="box">
			<header>
				<h2>Acerca de mi</h2>
				<p></p>
			</header>
			<div class="content">
				<p>Soy un estudiante de ingeniería de software apasionado por la programación y con habilidades
					excepcionales en esta área. Me encanta aprender y estar siempre actualizado con las últimas
					tecnologías. Además, disfruto ayudando a otros en lo que pueda y siempre busco oportunidades para
					colaborar en proyectos que tengan un impacto positivo en la sociedad.</p>
			</div>
			<footer>
				<a href="/about-me" class="button alt">Descubre mas de mi</a>
			</footer>
		</article>
	</div>
	<a href="#two" class="more">Learn More</a>
</section>

<!-- Two -->
<section id="two" class="wrapper post bg-img" data-bg="banner5.jpg">
	<div class="inner">
		<article class="box">
			<header>
				<h2>Relacionado al desarrollo</h2>
				<p>Developer JR</p>
			</header>
			<div class="content">
				<p>Como estudiante de desarrollo me encuentro muy feliz de haber aprendido como desplegar mi primera
					pagina web usando express, gracias al curso del profesor <a
						href="https://fernando-herrera.com/#/">Fernando Herrera</a>.</p>
				<p>Este curso me ha ayudado a crecer como programador y a estar mas cerca de cumplir mi primera meta:
					Empezar a desarrollar software en un entorno laboral real; actualmente me encuentro buscando un
					puesto de DeveloperJR para fortalecer mis conocimientos de desarollo de software. Así que si deseas
					trabajar conmigo o conoces a alguien, no dudes en <a
						href="mailto:josthinayon@gmail.com">contactarme</a>.</p>
				<p>En esta página he implementado pequeñas funciones, entre ellas que puedas dejarme un comentario de
					retroalimentación, estaría muy agradecido si te tomaras el tiempo para hacermelo llegar: </p>
			</div>
			<footer>
				<a href="/retroalimentacion" class="button alt">¡Déjame un mensaje!</a>
			</footer>
		</article>
	</div>
	<a href="#three" class="more">Learn More</a>
</section>

<!-- Three -->
<section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
	<div class="inner">
		<article class="box">
			<header>
				<h2>Varius a cursus aliquet</h2>
				<p>11.11.2016</p>
			</header>
			<div class="content">
				<p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim
					platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a
					duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac
					blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in
					tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
			</div>
			<footer>
				<a href="/generic" class="button alt">Learn More</a>
			</footer>
		</article>
	</div>
	<a href="#four" class="more">Learn More</a>
</section>

<!-- Four -->
<section id="four" class="wrapper post bg-img" data-bg="banner3.jpg">
	<div class="inner">
		<article class="box">
			<header>
				<h2>Luctus blandit mi lectus in nascetur</h2>
				<p>10.30.2016</p>
			</header>
			<div class="content">
				<p>Scelerisque enim mi curae erat ultricies lobortis donec velit in per cum consectetur purus a enim
					platea vestibulum lacinia et elit ante scelerisque vestibulum. At urna condimentum sed vulputate a
					duis in senectus ullamcorper lacus cubilia consectetur odio proin sociosqu a parturient nam ac
					blandit praesent aptent. Eros dignissim mus mauris a natoque ad suspendisse nulla a urna in
					tincidunt tristique enim arcu litora scelerisque eros suspendisse.</p>
			</div>
			<footer>
				<a href="/generic" class="button alt">Learn More</a>
			</footer>
		</article>
	</div>
</section>



{{> footer }}